<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Face Recognition
    </title>
    <meta name="author" content="name">
    <meta name="description" content="Face Recognition" />
    <meta name="keywords" content="keywords,here">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
        :root {
            ::-webkit-scrollbar {
                height: 10px;
                width: 10px
            }

            ::-webkit-scrollbar-track {
                background: #efefef;
                border-radius: 6px
            }

            ::-webkit-scrollbar-thumb {
                background: #d5d5d5;
                border-radius: 6px
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #c4c4c4
            }
    </style>
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal">
    <div class="container max-w-5xl mx-auto mt-5">
        <h1 class="text-3xl font-bold text-center mb-5">
            😎 Face Recognition Example By Leapcell 😎
        </h1>
        <p>
            You can upload a picture and see if there is a face in it.
        </p>
        {% if message %}
        <p class="text-red-500">
            {{ message }}
        </p>
        {% endif %}
        <form action="/upload" method="post" enctype="multipart/form-data">


            <div class="flex items-center justify-center w-full">
                <label for="dropzone-file"
                    class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                                upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG (MAX. 800x400px)</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" name="file" />
                </label>
            </div>

            <button type="submit"
                class="text-white mt-5 w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Upload</button>

        </form>

        {% if faces %}
        <h1 class="text-3xl font-bold text-center mb-5">
            Result:
        </h1>
        <div class="flex flex-wrap justify-between pt-12 -mx-6">
            {% for face in faces %}
            <!--1/3 col -->
            <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
                <img src="data:image/png;base64, {{ face }}" class="h-64 rounded-t pb-6 mx-auto">
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

</body>

</html>